{% extends "base.html" %}

{% block bodyleft %}
<div class="content">
	<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
	
	<ul class="metadata">
		<li><a href="{{ post.author.get_absolute_url }}">Autore {{ post.author }}</a></li>
		<li>{{ post.date|date:"j F, Y" }}</li>
		<!-- <li><a href="{{ post.get_absolute_url }}#comment">{{ post.comment_count }} Commenti</a></li> -->
	</ul>
	
	{{ post.text }}
</div>
{% endblock %}

{% block moreauthmenu %}
<li><a href="edit">Modifica questo post</a></li>
{% endblock %}
