{% extends "base.html" %}

{% block morescripts %}
      <script type="text/javascript" src="/media/tiny_mce/jquery.tinymce.js"></script>
      <script type="text/javascript">
         $(function(){
            $("textarea.tinymce").tinymce({ mode: "textareas",
                           script_url: "/media/tiny_mce/tiny_mce.js",
                           language: "it",
                           theme: "advanced",
                           plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
                           theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontsizeselect",
                           theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime",
                           theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                           theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
                           theme_advanced_resizing : true,
                           theme_advanced_toolbar_location : "top",
                           theme_advanced_toolbar_align : "left",
                           theme_advanced_statusbar_location : "bottom"});
         });
      </script>
{% endblock %}

{% block bodyleft %}
	<form method="POST" id="posteditor">
            <div class="content">
                  <label for="post_title">Titolo</label>
                  <input type="text" name="post_title" id="post_title" value="{{ post.title }}"/>

                  <label for="post_content">Contenuto</label> 
                  <textarea name="post_content" id="post_content" class="tinymce">{{ post.text }}</textarea>
	    </div>

            <div class="content">
                  <select name="post_status" id="post_status">
                     <option value="draft" {% if post.draft %} selected="selected"{% endif %}>Salva come bozza</option>
                     <option value="publish" {% if not post.draft %} selected="selected"{% endif %}>Pubblica</option>
                  </select>
                  <input type="submit" name="post_action" value="Applica" />
            </div>
	</form>
{% endblock %}
